<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saad.youssif.aswaqtawfik">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".Activities.SliderActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_main2" />
        <activity
            android:name=".Activities.SingleItemActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.CartActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.ProfileUpdating"
            android:excludeFromRecents="true"
            android:label="Update Profile : "
            android:theme="@style/myDialogTheme" />
        <activity
            android:name=".Activities.PrivateRequest"
            android:excludeFromRecents="true"
            android:label="Private Request"
            android:theme="@style/myDialogTheme" />
        <activity
            android:name=".Activities.RateActivity"
            android:excludeFromRecents="true"
            android:theme="@style/myDialogTheme" />
    </application>

</manifest>